[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
psd-tools = "*"
numpy = "*"
scipy = "*"
pywin32 = "*"
loguru = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python main.py"
